body{
    margin: 0px;
    padding: 0px;
}
.container{
    margin-top: 200px;
    background-color: rgb(205, 214, 214);
    border-radius: 5px;
   
}
#input{
    width: 180px;
    color: red;
    text-align: center;
}
#result{
    width: 180px;
    color: red;
    text-align: center;
}
#inputType,#resultType{
width: 180px;
margin-top: 15px;
color: red;
}
#resultType{
    margin-left: 15px;
}
#solve{
    /* margin-left: 170px; */
    margin-top: 10px;
    background-color: black;
    color: white;
}