
/* .container{
    background-color: rgb(205, 214, 214);
} */
#input{
    width: 180px;
    color: red;
    text-align: center;
}
#result{
    width: 180px;
    color: red;
    text-align: center;
}
#inputType,#resultType{
width: 180px;
margin-top: 15px;
color: red;
}
#resultType{
    margin-left: 15px;
}
#solve{
    /* margin-left: 170px; */
    margin-top: 10px;
    background-color: black;
    color: white;
}